/* Reset */
* {
	margin: 0;
	padding: 0;
}

/**
 * Color, typography and basic layout
 * Colors:
 * - #f9f3e9 -> light cream (background)
 * - #594846 -> Dark brown (body text, rules)
 * - #42628F -> Dark blue (link text)
 * - #7b96bc -> Medium-light blue (navigation and footer background)
 */
body {
	background: #f9f3e9;
	color: #594846;
	font: 16px "Adobe Caslon Pro", "Hoefler Text", Georgia, "Times New Roman", serif;
}
a, a:visited {
  color: #42628F;
}
p {
  margin: 0.5em 0.25em;
}
h1 {
  font-size: 1.75em;
	border: solid #594846;
	border-width: 2px 0;
	padding: 0.25em;
  text-align: center;
  font-variant: small-caps;
}
h2 {
  text-align: center;
  font-variant: small-caps;
}
dl {
  margin: 0 0.5em;
}
dt {
  font-weight: bold;
  margin: 0.5em 1em 0.5em 0;
  border-bottom: 1px dashed #7b96bc;
}
.intro {
  font-size: 1.15em;
  line-height: 1.3em;
  text-align: justify;
  margin: 0.5em 0;
  font-weight: bold;
}
.navigation {
  background-color:#7b96bc;
  border-bottom: 2px solid #594846;
}
.navigation ul li {
  text-align: center;
  display: block;
  float: left;
  padding: 0.25em 0;
}
.navigation li a {
  color: #f9f3e9;
  font-variant: small-caps;
  text-decoration: none;
}
.right ul {
  list-style-image: url('images/point.png');
  margin: 0.5em 0 1em 0.5em;
  padding-left: 1em;
}
.right ul li {
  margin: 0.5em 1em;
}
.footer {
  background-color: #7b96bc;
  color: #f9f3e9;
  text-align: center;
  padding: .5em;
  font-style: italic;
  clear: both;
}
.column {
  padding: 0 5px;
  margin: 10px 10px 0 0;
}

/* Structure */
@media screen and (min-width:481px) {
  body {
    width: 960px;
  }
  .navigation {
    width: 960px;
    min-height: 25px;
  }
  .navigation ul li {
    width: 320px; /* 960/3 */
  }
  .header {
    background:url(images/walrus.png) no-repeat;
    width: 960px;
    height: 200px;
    clear: both;
  }
  .header p {
    margin-left: -1000px;
  }
  .left {
    width: 240px;
    float: left;
  }
  .right {
    width: 240px;
    float: right;
  }
  .main {
    margin: 10px 260px 0 250px;
  }
}

@media screen and (max-width:480px) {
  body {
    width: 320px;
  }
  .navigation {
    width: 320px;
    min-height: 25px;
  }
  .navigation ul li {
    width: 105px;
  }
  .header {
    background:url(images/walrus.png) no-repeat;
    width: 320px;
    height: 200px;
    clear: both;
  }
  .left {
    width: 310px;
  }
  .right {
    width: 310px;
  }
  .main {
    width: 310px;
  }
}
